*{
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about{
    background-color: #EBF0FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1840px;
}

.information{
    width: 500px;
    padding: 50px;
}

.image-box-img{
    width: 910px;
    height: 456px;
}

.information_title{
    font-size: 30px;
    color: #1F4284;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 20px;
}

.information_text{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #727272;
    margin-bottom: 20px;
}

.information_button{
    display: flex;
    padding: 12px 12px 12px 24px;
    border-radius: 60px;
    cursor: pointer;
    align-items: center;
    border: none;
    background-color: #244C98;
}

.information_button-text{
    font-weight: 500;
    size: 18px;
    line-height: 29px;
    color: #FFFFFF;
}

.information_button-box-icon{
    color: #244C98;
    font-size: 18px;
}

.information_button-icon-box{
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: none;
    background-color: #FFFFFF;
    margin-left: 10px;
}

.login-form{
    background-color: #F0F4FC;
    padding: 10px;
}

.form-content{
    display: flex;
    flex-direction: column;

}

.input-fields{
    display: flex;
    flex-direction: column;
    align-items: start;

}

.button-group{
    display: flex;
    flex-direction: column;
}

.close-button{
    display: flex;
    justify-content: end;
    cursor: pointer;
}

.close-icon{
    padding: 14px;
    background: #fff;
    border-radius: 10px;
}

.title{
    size: 24px;
}